* {
  margin: 0;
  border: 0;

  &,
  &::before,
  &::after {
    box-sizing: inherit;
  }
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  height: 100%;
}

img,
svg {
  vertical-align: middle;
}

table {
  caption-side: bottom;
  border-collapse: collapse;
}

label {
  display: inline-block;
}

input,
button,
select,
optgroup,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
  border-radius: 0;

  &:active,
  &:focus,
  &:focus-visible {
    outline: 0;
  }

  &:disabled {
    opacity: 1;
  }
}

select {
  word-wrap: normal;
}

button,
[type="button"],
[type="reset"],
[type="submit"],
[role="button"] {
  appearance: button;
  -webkit-appearance: button;

  &:not(:disabled) {
    cursor: pointer;
  }
}

textarea {
  resize: vertical;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

progress {
  vertical-align: baseline;
}

[hidden] {
  display: none !important;
}
