:root {
  --body-color: #3d3d3d;
  --body-bg: #fff;
  --heading-color: #0c0c0c;

  --primary-color: #b6473e;
  --primary-contrast-color: #fff;
  --primary-hover-color: #c96860;
  --primary-hover-contrast-color: #fff;

  --secondary-color: #fff;
  --secondary-contrast-color: #0c0c0c;
  --secondary-hover-color: #fff;
  --secondary-hover-contrast-color: #494949;
}
