@mixin font-face($font-name, $file-name, $weight, $style) {
  @font-face {
    font-family: $font-name;
    font-weight: #{$weight};
    font-style: #{$style};
    font-display: swap;
    src:
      url("../fonts/#{$file-name}.woff2") format("woff2"),
      url("../fonts/#{$file-name}.woff") format("woff");
  }
}
