// Container
$container-padding-x: 30px;
$container-max-width: 1340px;

// Typography
$font-family-base: "Roboto", sans-serif;
$font-size-base: 1rem;
$font-weight-base: 300;
$font-style-base: normal;
$font-optical-sizing: auto;
$line-height-base: 1.5;

// Breakpoints
$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);
