// Container
$container-padding-x: 30px;
$container-max-width: 1340px;

// Typography
$font-family-base: "Roboto", sans-serif;
$font-size-base: 1rem;
$font-weight-base: 300;
$font-style-base: normal;
$font-optical-sizing: auto;
$line-height-base: 1.5;
